.box-container {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    gap: 1rem;
    margin-top: 5%;
    margin-bottom: 5%;
    @media only screen and (max-width: 700px) {
       display: grid;
       justify-content: center;
       margin-top: 5%;
      }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        .box-user{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vh;
            height: 70px;
            border-radius: 5px;
            background-color: rgb(16, 12, 9);
        }
        .box-oder{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vh;
            height: 70px;
            border-radius: 5px;
            background-color: rgba(38, 178, 31, 0.854); 
        }
        .box-price{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40vh;
            height: 70px;
            border-radius: 5px;
            background-color: rgb(230, 169, 3); 
        }
    }
}

.sale{
    margin-top: 5%;
    border-bottom: 2px solid rgb(202, 197, 197);
}

.categories{
    margin-top: 5%;
    width: 100%;
}
.dashboard-ctn{
    display: grid;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
    min-height: 60vh;
    .dashboard{
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }
}
